################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/VooIt.Api/bin/Debug/net7.0/VooIt.Domain.pdb
/src/VooIt.Api/obj/Container/ContainerRunContext.cache
/src/VooIt.Api/obj/Container/ContainerName.cache
/src/VooIt.Api/obj/Container/ContainerId.cache
/src/VooIt.Api/obj/Container/ContainerDevelopmentMode.cache
